{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if isset .Site.Data "carousel" }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section class="home-hero no-mb">
    <div class="home-carousel" style="height: 100%; width: 100%;">
        <div class="dark-mask"></div>
        <div class="homepage owl-carousel" data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
            data-autoplay-delay="{{ default 5500 .Site.Params.CarouselHomepage.auto_play_delay }}"
            data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
            data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
            {{ range sort .Site.Data.carousel "weight" }}
            {{ if default false .homepage }}
            <div class="item custom-flex-row">
                {{ if .href }}
                <a href="{{ .href }}"{{ if hasPrefix .href "http" }} target="_blank" rel="noopener"{{ end }}
                    title="{{ .title | safeHTML }}">
                    {{ end }}
                    <div class="row carousel-slide-row">
                        {{ if or .title .description }}
                        {{ if not .image }}
                        <div class="col-sm-12 carousel-single-col">
                            <div class="text-center p-4 carousel-single-content">
                                <h1>{{ .title | safeHTML }}</h1>
                                {{ .description | safeHTML }}
                                <div class="mt-3">
                                    <img class="img-responsive carousel-img carousel-home-logo" src="img/zonge-logo-tag-white-200x100.png"
                                        alt="Default Logo">
                                </div>
                            </div>
                        </div>
                        {{ else }}
                        <div class="col-sm-5 right carousel-text-col">
                            <h1>{{ .title | safeHTML }}</h1>
                            {{ .description | safeHTML }}
                        </div>
                        <div class="col-sm-7 carousel-media-col">
                            <img class="img-responsive carousel-img" src="{{ .image }}"
                                alt="{{ if .image_alt }}{{ .image_alt }}{{ else }}{{ .title | plainify }}{{ end }}">
                        </div>
                        {{ end }}
                        {{ else }}
                        <div class="col-sm-12 carousel-only-image-col">
                            <img class="img-responsive carousel-img" src="{{ .image }}"
                                alt="{{ if .image_alt }}{{ .image_alt }}{{ else }}{{ .title | plainify }}{{ end }}">
                        </div>
                        {{ end }}
                    </div>
                    {{ if .href }}
                </a>
                {{ end }}
            </div>
            {{ end }}
            {{ end }}
        </div>
        <!-- /.project owl-slider -->
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
